@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: auto;
    width: auto;
}

:root {
    font-family: 'Lato', sans-serif;
    --text-color: black;
    --background-color: #eee;
    --border-color: #eee;
}

.separator {
    width: 200px;
    height: 2px;
    border: 2px solid var(--title-color);
    margin: auto;
}
