@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Frank+Ruhl+Libre&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: auto;
    width: auto;
}

.our-brewery {
    background-color: rgb(44, 34, 29);
    color: #f4eee1;
    width: auto;
    height: auto;
    align-items: center;
    
}

.our-brewery__header {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 34px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.our-brewery__separator {
    font-size: 14px;
    color: rgb(248, 184, 3);
}

.our-brewery__title {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.spikelet-separator {
    width: 100px;
    background-color: rgb(44, 34, 29);
}

.our-brewery__info {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
}

/*.our-brewery__gallery-container {
    margin-top: 50px;
}*/
.carousel-item-main {
    text-align: center;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    position: static;
    margin: 0 auto;
    max-width: 900px;
    /*width: 100%;*/
}
.carousel-item {
    text-align: center;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    position: static;
    margin: 0 auto;
    max-width: 300px;
}
.our-brewery__carousel {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    width: 50%;
}



.carousel__slide-container {
    /*display: flex;
    justify-content: center;
    margin: 20px auto;*/
    object-fit: cover;
    object-position: center;
    width: 50%;
    max-width: 400px;
    
}

.separator-wave {
    background-color: #f4eee1;
    max-width: 1000px
    
}
.carousel__btn-prev,
  .carousel__btn-next {
    width: auto;
    padding: 0;
    margin-top: -50px;
    font-size: 2rem;
    text-align: center;

  }
  /*@media (min-width: 400px) {
  .carousel__slide-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}*/


/*
@media (min-width: 400px) {
    .our-brewery__gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}*/